# Arquivos de compilação do Flutter e Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Configurações do Android
.gradle/
local.properties
/android/app/key.properties
/android/app/src/main/res/drawable-*/
/android/app/src/main/res/mipmap-*/
*.keystore
*.jks

# Configurações do iOS
.generated/
Pods/
/.symlinks/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/DerivedData/

# IDEs e Editores
.idea/
.vscode/
*.iml
*.ipr
*.iws
.history

# Arquivos do sistema
.DS_Store
Thumbs.db

# Log de erros
*.log